version: 1

app:
  name: {{ .AppName }}
  template: merchant-app

domains:
  base_domain: {{ .BaseDomain }}

stages:
  dev:
    root_domain: dev.{{ .BaseDomain }}
  staging:
    root_domain: staging.{{ .BaseDomain }}
  live:
    root_domain: {{ .BaseDomain }}

services:
  api:
    subdomain: api

build:
  goos: linux
  goarch: arm64
  cgo: 0
  trimpath: true
  ldflags: "-s -w"
  tags:
    - lambda.norpc

functions:
  api:
    cmd: ./cmd/api
    out: ./dist/api/bootstrap
  worker:
    cmd: ./cmd/worker
    out: ./dist/worker/bootstrap

cdk:
  path: ./cdk
  deploy_order:
    {{ if .EnableData }}
    - data
    {{ end }}
    - service
  stacks:
    {{ if .EnableData }}
    data:
      name_template: "{{ "{{" }}.AppName{{ "}}" }}-data-{{ "{{" }}.Stage{{ "}}" }}"
    {{ end }}
    service:
      name_template: "{{ "{{" }}.AppName{{ "}}" }}-service-{{ "{{" }}.Stage{{ "}}" }}"
